WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_GRAPH_VERSION=
META_APP_SECRET=
WHATSAPP_BUSINESS_NUMBER=
STAFF_USER_EMAILS=
ENVIRONMENT=development
WHATSAPP_RECOMMENDATION_TEMPLATE=
WHATSAPP_RECOMMENDATION_TEMPLATE_LANGUAGE=en_US
WHATSAPP_STATUS_TEMPLATE=
WHATSAPP_STATUS_TEMPLATE_LANGUAGE=en_US
